@charset "UTF-8";

/*
        Html id / css # ( S칩 um elemento por p치gina)
        html class / css . (V치rios elementos por p치gina)
*/

body{
    background-color: #d6fde9;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: #1e402f;
}

h1#principal{
    text-align: center;
    background-color: #3c805e;
    color: white;
}
h2{
    color: #3c805e;
}

.basico{
    color: #3c805e;

}
.intermediario{
    color: #76803c;

}
.avancado{
    color: #803c3c;

}